.example-spacer {
    flex: 1 1 auto;
  }



  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    color: var(--mat-sys-primary);
    background: var(--mat-sys-primary-container);

    .logo {
      font-weight: bold;
      font-size: 1.4rem;
      color: white;
    }
  
    .spacer {
      flex: 1 1 auto;
    }
  
    .nav-links a {
      color: white;
      margin: 0 8px;
      text-transform: none;
    }
  
    .active-link {
      border-bottom: 2px solid white;
    }
  }
  