/* Reset de estilos básicos */
body, html {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
}

/* Estilos para la barra lateral */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0991cf;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Estilos para el contenido principal */
.content {
    margin-left: 250px;
    padding: 16px;
}

/* Estilos para el encabezado del contenido */
.content h1 {
    color: #333;
}

/* Estilos para el párrafo del contenido */
.content p {
    color: #555;
}
