<div class="container background-login">
    <div class="form-container">
        <h2>Inicio de sesión</h2>
        <form [formGroup]="loginFormGroup" (submit)="validarFormulario(f)" #f="ngForm">
            <div class="fields-container">                        
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Ingrese su usuario" formControlName="email" type="text">
                    <mat-error *ngIf="loginFormGroup.get('email')!.hasError('required')">
                        El usuario es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Ingrese su contraseña" formControlName="password" type="text">
                    <mat-error *ngIf="loginFormGroup.get('password')!.hasError('required')">
                        La contraseña es requerida
                    </mat-error>
                </mat-form-field>
            </div>
        
            <div class="actions flex-end-center">
                <button mat-stroked-button matTooltip="Recuperar contraseña" type="button" (click)="recuperaPassword()">Olvidé mi
                    contraseña</button>
                <button mat-flat-button color="primary" type="submit">Aceptar</button>                
            </div>
            <div class="actions flex-align-center">
                <div>
                    <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <asl-google-signin-button type="standard" size="large" text="signin_with" shape="rectangular" theme="outline"
                        logo_alignment="left">
                    </asl-google-signin-button>
                    </div>
                
                    <div>
                        <div id="g_id_onload" 
                            data-client_id="718967229132-mups6lquncet0at4p2p0q8sqo6n7pdgr.apps.googleusercontent.com"
                            data-callback="googleCallbackHandler" 
                            data-auto_prompt="false"
                            data-onload="googleLibraryLoaded">
                        </div>
                        <div #googleSignInBtn class="g_id_signin" data-type="standard" 
                            data-size="large" 
                            data-theme="outline" 
                            data-text="sign_in_with"
                            data-shape="pill" data-logo_alignment="left">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>