/*.grid-flex-polygonEditor{    
    width: 100%;
    max-width: 1800px;
    height: 500px; // Ajusta según lo que desees
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: stretch; // <-- importante para que ambos hijos ocupen todo el alto
    box-sizing: border-box;
}

.table-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto
}

.map-polygon-editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerMapPolygonEditor {
    width: 100%;
    padding: 0%;
    margin: 0px;
}

.table-container {
    overflow-y: auto;
}

.table {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
}

.table,
.mat-table {
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
}

.mat-row, .mat-header-row {
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
}

@media(max-width: 768px) {
  .grid-flex-polygonEditor{
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        justify-content: center;   
    }
}*/

.containerMapPolygonEditor {
    width: 100%;
    padding: 0%;
    margin: 0px;
    position: relative;
}

.table-container {
    overflow-y: auto;
}

.table {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
}

.table,
.mat-table {
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
}

.mat-row, .mat-header-row {
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
}

/********************************/

.fab-drawer-btn {
  position: absolute;
  left: 1%;
  top: 20%;
  transform: translateY(0%);
  z-index: 10;
  transition: left 0.3s;
}

.fab-right-btn-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    right: 1%;
    top: 10%;
    transform: translateY(0%);
    z-index: 10;
    transition: left 0.3s;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
