.form-container{
    display: block;    
    margin-top: 20px;
}



.form-step {
    padding: 10px 0;
}

/* Estilo de la rejilla para los campos */
.input-group {
    display: grid;
    /* 2 columnas en desktop, 1 columna en móvil */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

mat-form-field {
    width: 100%;
}

/* Fila de botones */
.button-row {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.check-toggle-container {
    grid-column: 1/-1; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 10px;
}
.radio-group-container {
    margin: 16px 0px;
}

@media (max-width: 761px) {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }   
    
    .check-toggle-container {        
        display: flex; 
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }
}