<section class="show-case-slider" id="showCaseSlider">
  <span class="show-case-slider_wrapper">
    <div class="item" *ngFor="let slide of slides; let i = index" [class.active]="i === activeIndex">
      <picture style="width: 100%; height: auto;">
        <img style="width: 100%;" [src]="slide.image" alt="image" draggable="false" />
      </picture>
    </div>
  </span>

  <span class="dot-container">
    <div class="dot" *ngFor="let slide of slides; let i = index" [class.active]="i === activeIndex"
      (click)="goToSlide(i)"></div>
  </span>
</section>

<div class="container">
  <div class="flex-align-center">
    <mat-button-toggle-group [(ngModel)]="idTipo" aria-label="Tipo de internet">
      <mat-button-toggle [value]=1>Internet inalámbrico</mat-button-toggle>
      <mat-button-toggle [value]=2>Internet con fibra óptica</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="paquetes">
    <ng-container *ngFor="let paquete of paquetes">
      <mat-card appearance="outlined" class="paquete" *ngIf="paquete.idTipo == idTipo"
      [ngStyle]="(paquete.background && paquete.background.trim()) ? { 'background-image': 'url(' + paquete.background + ')' } : {}">
        <mat-card-header class="megas"
          [ngStyle]="{ 'background-color': paquete.headerBackground, 'color': paquete.headerTextColor }">
          <mat-card-title>{{paquete.speed}} <span>Megas</span></mat-card-title>
        </mat-card-header>

        <mat-card-content class="contenido">
          <button mat-fab extended style="width: 50%;">
            <mat-icon>attach_money</mat-icon>
            {{paquete.costo}}
          </button>

          <img mat-card-image style="max-width: 100%" [src]="paquete.features.banner" alt="promoción">
          <div class="features">
            <h4 [ngStyle]="{ 'color': paquete.features.textColor}">{{paquete.features.info}}</h4>
            <h4 [ngStyle]="{ 'color': paquete.features.textColor}">Folio:{{paquete.features.folio}}</h4>
          </div>
        </mat-card-content>

        <mat-card-actions class="actions">
          <button *ngIf="paquete.buttons.showContratar" mat-flat-button color="primary">Contratar</button>
          <button *ngIf="paquete.buttons.showInfo" mat-button>Más información</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>

  <div class="aside-map">
    <app-map></app-map>    
    <div>
        <h3 class="title">¿No se encuentra en la zona de cobertura TLAXICOM?</h3>
        <div class="title">
          <i class="fa-brands fa-whatsapp" id="sinCobertura_contacto_wa" onclick="sinCoverturaContacto()"></i>
          <p class="pie_wha">Contactenos</p>
        </div>
    </div>
  </div>
</div>