// Estilos globales
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh; // Forzar a que el body ocupe toda la altura de la ventana
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;  // ocupa todo el alto
}

app-footer {
  flex-shrink: 0;           // evita que el footer se encoja
}

.main-container {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;  
}

.container{
  width: 100%;
  padding: 2rem 3rem;
  margin: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
} 

/* Estilos para botones de accion*/
.actions{
  display: block;
  margin: 20px 0px 0px 0px;
}
.flex-end-center {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  margin: 10px 0px;
}

.flex-align-center {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

/* Estilos para los dialogos */
.dialog-title {
  background: #0067ce;
  color: white;
  h4{
    padding: 5px 5px;
    margin: 5px 5px;
    text-align: center;
  }    
}
mat-card-content {
    margin-top: 20px;
}


/*Estilos de tabla*/

.table-container {
  width: 100%;
  overflow-x: auto;
}
.table-header {
    display: flex;
    //justify-content: space-between;
    margin-bottom: 5px;        
}

table {
  width: 100%;  
}

td, th {
    //text-align: center !important;
}

@media (max-width: 760px){
  .container{    
    padding: 2rem 0.5rem;    
  }

  .flex-end-center {    
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
  }  
}

@media (min-width: 761px){
  
}