.mat-mdc-form-field {  
  width: 100%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

::ng-deep .table-header {
  .mat-mdc-form-field-bottom-align {
    display: none !important;
  }
}

.form-busqueda{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}